<template>
    <div style="font-family: monospace; height: 40vh">
        <input style="width: 200px" v-model="form.baseURL" @change="updateBaseURL()" placeholder="base URL" list="bases" disabled>
        <input style="width: 350px" v-model="form.apiKey" placeholder="API key">
        <br>
        <input style="width: 200px" v-model="form.fromBlock" placeholder="from" list="blocks">
        <input style="width: 200px" v-model="form.toBlock" placeholder="to" list="blocks">
        <datalist id="blocks">
            <option v-for="block in blocks" v-bind:value="block.value">{{ block.name }}</option>
        </datalist>
        <br>
        <input style="width: 600px" v-model="form.address" placeholder="address" list="addresses">
        <datalist id="addresses">
            <option v-for="addr in addresses" v-bind:value="addr.value">{{ addr.name }}</option>
        </datalist>
        <br>
        <input style="width: 600px" v-model="form.topic0" placeholder="topic0" list="topic0s" disabled>
        <br>
        <input style="width: 600px" v-model="form.topic1" placeholder="topic1" disabled>
        <input v-model="form.isTopic1" type="checkbox" disabled>
        <br>
        <input style="width: 600px" v-model="form.topic2" placeholder="topic2" disabled>
        <input v-model="form.isTopic2" type="checkbox" disabled>
        <br>
        <input style="width: 600px" v-model="form.topic3" placeholder="topic3" disabled>
        <input v-model="form.isTopic3" type="checkbox" disabled>
        <br>
        <Button @click="update(true)">Wraps</Button>
        <Button @click="update(false)">Unwraps</Button>
        <p>{{ counter }}/{{ hotwallets.length }}</p>
        <p>events: {{ events.length }}</p>
        <div style="overflow: scroll; height: 60vh;">
            <div v-for="event in events" :key="event.transactionHash + event.logIndex">
                <div style="background-color: black; height: 10px"></div>
                <p>address: {{ event.address }}</p>
                <p>topic0: {{ event.topics[0] }}</p>
                <p>topic1: {{ event.topics[1] }}</p>
                <p>topic2: {{ event.topics[2] }}</p>
                <p>topic3: {{ event.topics[3] }}</p>
                <p>data: {{ event.data }}</p>
                <p>block number: {{ event.blockNumber }}</p>
                <p>timestamp: {{ event.timeStamp }} ({{ event.date }})</p>
                <p>gas price: {{ event.gasPrice }}</p>
                <p>gas used: {{ event.gasUsed }}</p>
                <p>log index: {{ event.logIndex }}</p>
                <p>tx hash: {{ event.transactionHash }}</p>
                <p>tx index: {{ event.transactionIndex }}</p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
 import Vue from 'vue'
 import axios from 'axios'
 import { ethers, BigNumber } from 'ethers'
 import { Option, Form, Event, Template } from '~/components/types'
 import { addresses, defaultFromBSC, topicTransfer, bscBaseURL, hotwallets } from '~/components/constants'

 async function sleep(ms: number) {
     await _sleep(ms);
 }

 function _sleep(ms: number) {
     return new Promise((resolve) => setTimeout(resolve, ms));
 }

 export default Vue.extend({
     data () {
         return {
             form: {
                 baseURL: bscBaseURL,
                 fromBlock: defaultFromBSC,
                 toBlock: "latest",
                 address: "",
                 topic0: topicTransfer,
                 isTopic1: false,
                 topic1: "",
                 isTopic2: false,
                 topic2: "",
                 isTopic3: false,
                 topic3: "",
                 apiKey: "",
                 copybuffer: ""
             },
             addresses: addresses,
             blocks: [] as Option[],
             events: [] as Event[],
             hotwallets: hotwallets,
             counter: 0
         }
     },
     async mounted () {
         await this.updateBaseURL()
     },
     methods: {
         hexZeroPad (s: string): string {
             if (!s.startsWith("0x")) { return s }
             try {
                 return ethers.utils.hexZeroPad(s, 32)
             } catch(e) {
                 console.log(e)
                 return s
             }
         },
         toAddress (s: string): string {
             if (!s.startsWith("0x")) { return s }
             try {
                 return ethers.utils.hexZeroPad(ethers.utils.hexStripZeros(s), 20)
             } catch(e) {
                 console.log(e)
                 return s
             }
         },
         hexStripZeros (s: string): string {
             if (!s.startsWith("0x")) { return s }
             try {
                 return ethers.utils.hexStripZeros(s)
             } catch(e) {
                 return s
             }
         },
         toHex (s: string): string {
             try {
                 return BigNumber.from(s).toHexString()
             } catch(e) {
                 console.log("not a number", e)
                 try {
                     return ethers.utils.hexlify(ethers.utils.toUtf8Bytes(s))
                 } catch (e) {
                     console.log("not a string", e)
                     return s
                 }
             }
         },
         toDecimal (s: string): string {
             try {
                 return BigNumber.from(s).toString()
             } catch(e) {
                 console.log
                 return s
             }
         },
         toUTF8 (s: string): string {
             try {
                 return ethers.utils.toUtf8String(s)
             } catch(e) {
                 console.log(e)
                 return s
             }

         },
         solidityKeccak256 (s: string): string {
             try {
                 return ethers.utils.solidityKeccak256(["string"],[s])
             } catch {
                 return s
             }
         },
         async updateBaseURL () {
             this.blocks = [
                 {name: "latest", value: "latest"},
                 {name: "earliest", value: "earliest"},
                 {name: "pending", value: "pending"},
                 {name: "1 day ago", value: await this.ago(60 * 60 * 24)},
                 {name: "1 week ago", value: await this.ago(60 * 60 * 24 * 7)},
                 {name: "2 weeks ago", value: await this.ago(60 * 60 * 24 * 14)}
             ]
         },
         async ago (duration: number): Promise<string> {
             // call with random delay for rate limit of 3s
             await sleep(Math.floor(Math.random() * (3000 + 1)))
             const { baseURL, apiKey } = this.form
             let timestamp = Math.round((new Date((new Date()).getTime() - duration)).getTime() / 1000)
             let url = baseURL + "/api?module=block&action=getblocknobytime" + "&timestamp=" + timestamp + "&closest=after" + "&apikey=" + apiKey
             try {
                 const resp = await axios.get(url)
                 if (resp.data.status == "0") { console.log(resp.data.message); return "latest" }
                 return resp.data.result
             } catch(e) {
                 console.log(e)
                 return "latest"
             }
         },
         async update (b: boolean) {
             if (this.form.address == "") { return }
             this.events = []
             if (b) {
                 this.form.isTopic1 = true
                 this.form.topic1 = ""
                 this.form.isTopic2 = false
                 this.form.topic2 = ""
             } else {
                 this.form.isTopic1 = false
                 this.form.topic1 = ""
                 this.form.isTopic2 = true
                 this.form.topic2 = ""
             }
             for (var i = 0; i < hotwallets.length; i++) {
                 this.counter = i + 1
                 if (b) {
                     this.form.topic1 = this.hexZeroPad(this.hotwallets[i])
                 } else {
                     this.form.topic2 = this.hexZeroPad(this.hotwallets[i])
                 }
                 var fromBlock: string = this.form.fromBlock
                 while (true) {
                     const events: any[] = await this.request(fromBlock)
                   this.process(events)
                   // rate limit of 1000 events
                   if (events.length < 1000) {
                       break
                   }
                   // request again starting from the blockNumber of the last event
                   fromBlock = this.events[this.events.length-1].blockNumber.toString()
               }
             }
         },
         async request (fromBlock: string): Promise<any[]> {
             const { baseURL, toBlock, address, topic0, isTopic1, topic1, isTopic2, topic2, isTopic3, topic3, apiKey } = this.form
             let topics = "&topic0=" + topic0 + (isTopic1 ? "&topic1=" + topic1 : "") + (isTopic2 ? "&topic2=" + topic2 : "") + (isTopic3 ? "&topic3=" + topic3 : "")
             let url = baseURL + "/api?module=logs&action=getLogs" + "&fromBlock=" + fromBlock + "&toBlock=" + toBlock + "&address=" + address + topics + "&apikey=" + apiKey
             console.log(url)
             try {
                 const resp = await axios.get(url)
                 return resp.data.result
             } catch(e) {
                 console.log(e)
                 return []
             }
         },
         process (events: any[]) {
             if (events.length === 0) { return }
             for (var i in events) {
                 if (!events[i].blockNumber) { continue }
                 var event: Event = {
                     address: events[i].address,
                     topics: events[i].topics,
                     data: events[i].data,
                     blockNumber: BigNumber.from(events[i].blockNumber),
                     timeStamp: BigNumber.from(events[i].timeStamp),
                     date: new Date(BigNumber.from(events[i].timeStamp).toNumber() * 1000),
                     gasPrice: events[i].gasPrice == "0x" ? BigNumber.from(0) : BigNumber.from(events[i].gasPrice),
                     gasUsed: BigNumber.from(events[i].gasUsed),
                     logIndex: events[i].logIndex == "0x" ? BigNumber.from(0) : BigNumber.from(events[i].logIndex),
                     transactionHash: events[i].transactionHash,
                     transactionIndex: events[i].transactionIndex
                 }
                 if ((this.events.find(e => (e.transactionHash == event.transactionHash) && (e.logIndex.eq(event.logIndex))))) { continue }
                 this.events.push(event)
             }
         }
     }
 })
</script>
